<form class="form-horizontal" role="form">

	<div class="text-center">
		<h1>Day 5</h1>
		<p> You are only receiving this because you missed a single day and have picked up your game since!</p>
	</div>
	

	<div build-forms field="fields"></div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Did you floss:</label>
    <div class="col-sm-8">
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox1" value="1" name="floss1"> Yes
		</label>
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox2" value="0" name="floss1"> No
		</label>
    </div>
  </div>
  
</form>