<form class="form-horizontal" role="form">

	<div class="text-center">
		<h1>Day 1</h1>
		<p> You are only receiving this because you missed a single day and have picked up your game since!</p>
	</div>
	

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Did you floss:</label>
    <div class="col-sm-8">
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox1" value="1" name="floss1"> Yes
		</label>
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox2" value="0" name="floss1"> No
		</label>
    </div>
  </div>


  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Time:</label>
    <div class="col-sm-8">
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox1" value="1" name="floss2"> <30s
		</label>
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox2" value="0" name="floss2"> <1min
		</label>
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox1" value="1" name="floss2"> <1.5min
		</label>
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox2" value="0" name="floss2"> >2mins
		</label>
    </div>
  </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Smell:</label>
    <div class="col-sm-8">
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox1" value="1" name="floss3"> Terrible
		</label>
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox2" value="0" name="floss3"> Bad
		</label>
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox1" value="1" name="floss3"> Mild
		</label>
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox2" value="0" name="floss3"> None
		</label>
    </div>
  </div>

    <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">Blood:</label>
    <div class="col-sm-8">
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox1" value="1" name="floss4"> Lots
		</label>
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox2" value="0" name="floss4"> Some
		</label>
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox1" value="1" name="floss4"> Minor
		</label>
		<label class="radio-inline">
		  <input type="radio" id="inlineCheckbox2" value="0" name="floss4"> None
		</label>
    </div>
  </div>


<div class="form-group">
    <label for="comment" class="col-sm-4 control-label">Comment</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="comment" placeholder="Comment...">
    </div>
  </div>

<div class="form-group">
    <label for="inputPassword" class="col-sm-4 control-label"></label>
    <div class="col-sm-5">
      <input type="file" >
    </div>
  </div>

  
</form>