/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.no-margin{margin: 0 !important;}
.no-padding{padding: 0 !important;}
.no-border{border: 0 !important;}
.no-border-top{border-top: 0 !important;}
.no-border-bottom{border-bottom: 0 !important;}
.no-border-left{border-left: 0 !important;}
.no-border-right{border-right: 0 !important;}
.text-right{text-align: right !important;} 
.text-left{text-align: left !important;} 

.inset0{margin-top: 3px;}
.inset1{margin-top: 5px;}
.inset2{margin-top: 8px;}
.inset3{margin-top: 10px;}
.inset4{margin-top: 13px;}
.inset5{margin-top: 15px;}
.inset6{margin-top: 18px;}
.inset7{margin-top: 20px;}
.inset8{margin-top: 23px;}
.inset9{margin-top: 25px;}

.deset0{margin-bottom: 3px;}
.deset1{margin-bottom: 5px;}
.deset2{margin-bottom: 8px;}
.deset3{margin-bottom: 10px;}
.deset4{margin-bottom: 13px;}
.deset5{margin-bottom: 15px;}
.deset6{margin-bottom: 18px;}
.deset7{margin-bottom: 20px;}
.deset8{margin-bottom: 22px;}
.deset9{margin-bottom: 25px;}
